*{
    margin:0px;
   padding:0px;
}

.nav{
    row-gap: 1px;
   
}
.nav .nav1 {
  border-top:15px solid  rgb(4, 173, 150);
  border-left: 15px solid rgb(4, 173, 150);
    /* margin-left: 15px; */
   
    
}
 .search input{
   border-radius: 5px;
   margin-left: 20px;
   width:400px;
  height:30px;
   
  
}
.nav .search input text {
    margin-left: 50px;
}
.search{
    border-left: 15px solid rgb(4, 173, 150);
    margin-top: 50px;
}
 .nav .nav2{
    margin-top: 20px;
    margin-left: 15px;
}
.nav button{
    border-radius: 10px;
    width: 100px;
    height:25px;
    
    border:1px;
    margin-left: 25px;
}
 .nav2 #all{
    width:40px;
}
.photo{
    margin-left: 800px;
    margin-top: -70px;
}
.photo img{
    width:320px;
    margin:70px;
}
.photo p{
    margin-top: 20px;
}
.photo #para1{
margin-left: 200px;
}
.photo h5{
 margin-top: -50px;
 font-weight: lighter;
 font-size: 40px;
}
.photo button{
    color: white;
    background-color: rgb(5, 109, 95);
    margin-left: 150px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    margin-top: 20px;
}
.photo #para2{
    margin-top: 100px;
    margin-left:120px ;
}
.chat .box img{
 border-radius: 50%;
height:50px;
width:50px;
margin-right: 10px;
}
.chat .box{
/* border-left:0.2px solid grey; */
border-bottom:0.2px solid rgb(228, 224, 224);
width:400px;
margin-left:35px ;
margin-top: 3px;
text-align: center;
display: flex;
word-wrap: normal;
}
.chat{
    margin-top: -450px;
    background-color: white;
    
}
.chat .box:hover{
background-color: rgb(234, 228, 228);
}



